#mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: min(600px);
  height: min(600px);
  background-color: rgba(240, 248, 255, 0);
  margin-top: 20px;
  text-align: center;
  align-items: center;
  z-index: 2;
  position: static;
  margin-inline: auto;
}
#mainContainer > div:nth-child(even) {
  background-color: rgba(130, 158, 194, 0.568);
  border: none;
  color: white;
  width: min(300px);
  height: min(300px);

  margin-inline: auto;
  justify-content: center;
  text-align: left;
  border-radius: 5px;
  transition: 300ms;
}
#mainContainer > div:nth-child(even):hover {
  scale: 1.1;
  transition: 300ms;
}
#mainContainer > div:nth-child(odd) {
  background-color: rgba(130, 158, 194, 0.568);
  border: none;
  color: black;
  width: min(300px);
  height: min(300px);
  margin-inline: auto;
  justify-content: center;
  text-align: left;
  border-radius: 5px;
  transition: 300ms;
}
#mainContainer > div:nth-child(odd):hover {
  scale: 1.1;
  transition: 300ms;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
/* .box3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
} */
.box4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.box5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

/* @keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
  } */
