* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: rgb(231, 34, 34);
  width: 100vw;
  height: 100vh;
  
  overflow: visible;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: min(80px);
  background-color: rgb(208, 221, 221);
  padding-top: 2px;
  padding-left: 10px;
  /* position: fixed; */
  z-index: 1;
}

#burger_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 150, 150, 0);
  width: min(45px);
  gap: 6px;
  padding: 5px;
  margin-top: 16px;
  /* border: 1px solid black; */
  justify-content: left;
  transition: 400ms ease-out;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

#burger_container.active * {
  box-shadow: 0px 0px 5px rgb(55, 90, 185);
  transition: 400ms ease-in;
}
.burger {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  height: 2px;
  color: rgb(34, 29, 29);
  border: 1px solid black;
  font-weight: bold;
  border: none;
  transition: all 300ms;
  z-index: 2;
}
.burger:nth-child(1) {
  width: min(45px);
}
.burger:nth-child(2) {
  width: min(40px);
}
.burger:nth-child(3) {
  width: min(35px);
}
.burger:nth-child(4) {
  width: min(30px);
}
.burger:nth-child(5) {
  width: min(25px);
}

#dropmenu {
  display: flex;
  flex-direction: column;
  background-color: rgb(208, 221, 221);
  height: 100vh;
  gap: 3.5px;
  padding: 10px;
  width: 200px;
  transform: translateX(-600px);
  transition: all 400ms ease-out;
  opacity: 0;
  margin-top: 0px;
  position: absolute;
}
#dropmenu.active {
  display: flex;
  flex-direction: column;
  background-color: rgb(208, 221, 221);
  height: 100vh;
  gap: 5px;
  padding: 10px;
  width: 200px;
  transform: translateX(-10px);
  transition: all 400ms ease-in;
  opacity: 1;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  border: none;
  z-index: -1;
  box-shadow: inset 0px -100px 60px rgb(63, 62, 62);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

img + .overlay {
  margin-top: 0px;
}

.dropmenu > div:nth-child(2) {
  background-color: gray;
}

h1 {
  margin-top: 100px;
  z-index: 2;
  flex-wrap: wrap;
  text-align: center;
  color: rgb(221, 231, 193);
  text-shadow: 1px 1px 5px rgb(22, 22, 21);
  font-family: monospace;
  font-weight: 900;
  font-size: 50px;
}

div > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}


/* Center  Menu */
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(100% - 2rem, 600px);
  height: min(100% - 2rem, 600px);
  background-color: rgba(240, 248, 255, 0);
  margin-top: 20px;
  text-align: center;
  align-items: center;
  z-index: 1;
  position: static;
  margin-inline: auto;
}


main > div{
  scale: 1.1;
  transition: 300ms;
  background-color: rgba(130, 158, 194, 0.568);
  border: none;
  color: black;
  width: min(100% - 2rem, 300px);
  height: min(100% - 2rem, 300px);
  margin-inline: auto;
  justify-content: center;
  text-align: left;
  border-radius: 5px;
  transition: 300ms;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}




section{
  background-color: rgba(20, 20, 17, 0.87);
  color: rgb(255, 255, 255);
  width: min(100% - 2rem, 400px);
  margin-inline: 20px;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  line-height: 1.8;
  box-shadow: inset 0px 0px 10px whitesmoke, 20px 50px 20px #0000003d;
  font-family: monospace;
  font-weight: 700;
  font-size: 20px;
  z-index: -1;
  transition: all 300ms ease-out;

}

/* headers */
h2{
  text-align: center;
}
h3{
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
}

/* Media Query */

@media screen and (max-width: 1276px) {
 

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min(80px);
    background-color: rgb(208, 221, 221);
    padding-top: 2px;
    padding-left: 10px;
    z-index: 2;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    }
  img {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    border: none;
    z-index: -1;
    box-shadow: inset 0px -100px 60px rgb(63, 62, 62);
    margin-inline: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  
  img + .overlay {
    margin-top: 0px;
  }
  
  section{
    transform: translateY(650px);
    transition: all 300ms ease-out;
    z-index: 1;
  }
  
  h1 {
    
    flex-wrap: wrap;
    text-align: center;
    color: rgb(221, 231, 193);
    text-shadow: 1px 1px 5px rgb(22, 22, 21);
    font-family: monospace;
    font-weight: 900;
    font-size: 50px;
    z-index: 1;
  }
  section{
    transform: translateY(650px);
    transition: all 300ms ease-out;
    z-index: 1;
  }
 
}

@media screen and (max-width: 900px) {
 

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min(80px);
    background-color: rgb(208, 221, 221);
    padding-top: 2px;
    padding-left: 10px;
    z-index: 2;
  }
  

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
     width: 100%;
    }
  img {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    border: none;
    z-index: -1;
    box-shadow: inset 0px -100px 60px rgb(63, 62, 62);
    margin-inline: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  img + .overlay {
    margin-top: 0px;
  }
  
  section{
    background-color: rgba(20, 20, 17, 0.87);
    color: rgb(255, 255, 255);
    width: min(100% - 2rem, 400px);
    margin-inline: 20px;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    line-height: 1.8;
    box-shadow: inset 0px 0px 10px whitesmoke, 20px 50px 20px #0000003d;
    font-family: monospace;
    font-weight: 700;
    font-size: 20px;
    z-index: -1;
    transition: all 300ms ease-out;
    transform: translateY(650px);
    
  
  }

 
  
  h1 {
    
    flex-wrap: wrap;
    text-align: center;
    color: rgb(221, 231, 193);
    text-shadow: 1px 1px 5px rgb(22, 22, 21);
    font-family: monospace;
    font-weight: 900;
    font-size: 50px;
  }
  
}
@media screen and (max-width: 500px) {
 

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min(80px);
    background-color: rgb(208, 221, 221);
    padding-top: 2px;
    padding-left: 10px;
    z-index: 2;
  }
  

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
     width: 100%;
    }
  img {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    border: none;
    z-index: -1;
    box-shadow: inset 0px -100px 60px rgb(63, 62, 62);
    margin-inline: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  img + .overlay {
    margin-top: 0px;
  }
  
  section{
    background-color: rgba(20, 20, 17, 0.87);
    color: rgb(255, 255, 255);
    width: min(100% - 2rem, 300px);
    margin-inline: 20px;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    line-height: 1.8;
    box-shadow: inset 0px 0px 10px whitesmoke, 20px 50px 20px #0000003d;
    font-family: monospace;
    font-weight: 700;
    font-size: 20px;
    z-index: -1;
    transition: all 300ms ease-out;
    transform: translateY(750px);
    
  
  }

 
  
  h1 {
    
    flex-wrap: wrap;
    text-align: center;
    color: rgb(221, 231, 193);
    text-shadow: 1px 1px 5px rgb(22, 22, 21);
    font-family: monospace;
    font-weight: 900;
    font-size: 50px;
  }
  
}

@media screen and (max-width: 500px) {
  section{
display: none;
    
  
  }
}